<main>
    <article>
        <header>
            <h2> Checkbox </h2>
        </header>
    </article>

    <div class="with-padding">
        <mat-checkbox> Subscribe </mat-checkbox>
    </div>
    <div class="with-padding">
        <mat-checkbox labelPosition="before"> Subscribe </mat-checkbox>
    </div>
    <div class="with-padding">
        <mat-checkbox labelPosition="after"> Subscribe </mat-checkbox>
    </div>
    
    <div class="with-padding">
        <mat-checkbox color="primary"> Subscribe </mat-checkbox>
    </div>
    <div class="with-padding">
        <mat-checkbox color="accent"> Subscribe </mat-checkbox>
    </div>
    <div class="with-padding">
        <mat-checkbox color="warn"> Subscribe </mat-checkbox>
    </div>
</main>