<main>
    <article>
        <header>
            <h2> Tooltip </h2>
        </header>

        <button class="with-margin" mat-raised-button matTooltip="Welcome"> 
            Hello 
        </button>
        <button class="with-margin" mat-raised-button matTooltip="Welcome" matTooltipPosition="after"> 
            Hello 
        </button>
        <button class="with-margin" mat-raised-button matTooltip="Welcome" matTooltipShowDelay="2000"> 
            Hello 
        </button>
        <button class="with-margin" mat-raised-button matTooltip="Welcome" matTooltipHideDelay="2000"> 
            Hello 
        </button>
    </article>
</main>



