<main>
    <article>
        <header>
            <h2> Snackbars </h2>
        </header>

        <div class="with-margin">
            <button mat-stroked-button (click)="openSnackBar ('Item deleted', 'Dismiss');"> 
                Show Snack Bar 
            </button>
        </div>
        <div class="with-margin">
            <button mat-stroked-button (click)="openSnackBar ('Item deleted', 'Undo');"> 
                Delete 
            </button>
        </div>
        <div class="with-margin">
            <button mat-stroked-button (click)="openCustomSnackBar ();"> 
                Show Custom Snack Bar 
            </button>
        </div>
    </article>
</main>