<main>
    <article>
        <header>
            <h2> Progress Bar </h2>
        </header>
    
        <div class="with-padding">
            <mat-progress-bar></mat-progress-bar>
        </div>
        <div class="with-padding">
            <mat-progress-bar value="50"></mat-progress-bar>
        </div>
        <div class="with-padding">
            <mat-progress-bar value="100"></mat-progress-bar>
        </div>
    
        <div class="with-padding">
            <mat-progress-bar value="50" color="primary"></mat-progress-bar>
        </div>
        <div class="with-padding">
            <mat-progress-bar value="50" color="accent"></mat-progress-bar>
        </div>
        <div class="with-padding">
            <mat-progress-bar value="50" color="warn"></mat-progress-bar>
        </div>
    
        <div class="with-padding">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        <div class="with-padding">
            <mat-progress-bar mode="buffer"></mat-progress-bar>
        </div>
        <div class="with-padding">
            <mat-progress-bar mode="query"></mat-progress-bar>
        </div>
    
        <div class="with-padding">
            <mat-progress-bar #myProgressBar [value]="progressValue"></mat-progress-bar>
        </div>
        <div class="with-padding">
            <button mat-stroked-button (click)="fillProgressBar ();">
                Fill Progress Bar
            </button>
        </div>
    </article>
</main>



