<main>
    <article>
        <header>
            <h2> Icons </h2>
        </header>

        <div>
            <mat-icon class="with-margin" color="primary">grade</mat-icon>
            <mat-icon class="with-margin" color="warn">code</mat-icon>
            <mat-icon class="with-margin" color="accent">copyright</mat-icon>
            <mat-icon class="with-margin">credit_card</mat-icon>
            <mat-icon class="with-margin">dashboard</mat-icon>
            <mat-icon class="with-margin">delete</mat-icon>
            <mat-icon class="with-margin">done</mat-icon>
            <mat-icon class="with-margin">favorite</mat-icon>
        </div>
    </article>
</main>