<main>
    <article>
        <header>
            <h2> Progress Spinner </h2>
        </header>

        <mat-progress-spinner class="with-margin"value="0"></mat-progress-spinner>
        <mat-progress-spinner class="with-margin"value="50"></mat-progress-spinner>
        <mat-progress-spinner class="with-margin"value="100"></mat-progress-spinner>
        <mat-progress-spinner class="with-margin"[value]="spinnerValue"></mat-progress-spinner>
        <div>
            <button (click)="fillSpinner ();"> Fill Spinner </button>
        </div>

        <mat-spinner class="with-margin"color="primary"></mat-spinner>
        <mat-spinner class="with-margin"color="accent"></mat-spinner>
        <mat-spinner class="with-margin"color="warn"></mat-spinner>
        <mat-spinner class="with-margin"*ngIf="showSpinner"></mat-spinner>
        <div>
            <button (click)="loadData ();"> Load Data </button>
        </div>
    </article>
</main>




