<main>
    <article>
        <header>
            <h2> Radio Buttons </h2>
        </header>

        <mat-radio-group [(ngModel)]="currentValue">
            <mat-radio-button class="with-margin" value="angular" color="primary"> Angular </mat-radio-button>
            <mat-radio-button class="with-margin" value="react" color="accent"> React </mat-radio-button>
            <mat-radio-button class="with-margin" value="vue" color="warn"> Vue </mat-radio-button>
        </mat-radio-group>

        <p> Current: {{ currentValue }} </p>
    </article>
</main>