<main>
    <article>
        <header>
            <h2> Buttons </h2>
        </header>

        <div>
            <button class="with-margin" mat-button> Click me! </button>
            <button class="with-margin" mat-raised-button> Click me! </button>
            <button class="with-margin" mat-flat-button> Click me! </button>
            <button class="with-margin" mat-stroked-button> Click me! </button>
        </div>
        
        <div>
            <button class="with-margin" mat-icon-button> Icon </button>
            <button class="with-margin" mat-fab> Fab </button>
            <button class="with-margin" mat-mini-fab> Fab </button>
        </div>
        
        <div>
            <button class="with-margin" mat-button color="primary"> Primary </button>
            <button class="with-margin" mat-raised-button color="primary"> Primary </button>
            <button class="with-margin" mat-flat-button color="primary"> Primary </button>
            <button class="with-margin" mat-stroked-button color="primary"> Primary </button>
        </div>
        
        <div>
            <button class="with-margin" mat-button color="accent"> Accent </button>
            <button class="with-margin" mat-raised-button color="accent"> Accent </button>
            <button class="with-margin" mat-flat-button color="accent"> Accent </button>
            <button class="with-margin" mat-stroked-button color="accent"> Accent </button>
        </div>
        
        <div>
            <button class="with-margin" mat-button color="warn"> Warn </button>
            <button class="with-margin" mat-raised-button color="warn"> Warn </button>
            <button class="with-margin" mat-flat-button color="warn"> Warn </button>
            <button class="with-margin" mat-stroked-button color="warn"> Warn </button>
        </div>
        
        <div>
            <button class="with-margin" mat-button color="warn" disableRipple> Warn </button>
        </div>
    </article>
</main>


