<div>
    <button mat-button> Click me! </button>
    <button mat-raised-button> Click me! </button>
    <button mat-flat-button> Click me! </button>
    <button mat-stroked-button> Click me! </button>
</div>

<div>
    <button mat-icon-button> Icon </button>
    <button mat-fab> Fab </button>
    <button mat-mini-fab> Fab </button>
</div>

<div>
    <button mat-button color="primary"> Primary </button>
    <button mat-raised-button color="primary"> Primary </button>
    <button mat-flat-button color="primary"> Primary </button>
    <button mat-stroked-button color="primary"> Primary </button>
</div>

<div>
    <button mat-button color="accent"> Accent </button>
    <button mat-raised-button color="accent"> Accent </button>
    <button mat-flat-button color="accent"> Accent </button>
    <button mat-stroked-button color="accent"> Accent </button>
</div>

<div>
    <button mat-button color="warn"> Warn </button>
    <button mat-raised-button color="warn"> Warn </button>
    <button mat-flat-button color="warn"> Warn </button>
    <button mat-stroked-button color="warn"> Warn </button>
</div>

<div>
    <button mat-button color="warn" disableRipple> Warn </button>
</div>