<!-- <app-example-typography></app-example-typography> -->

<!-- <app-example-buttons></app-example-buttons> -->

<!-- <app-example-button-toggle></app-example-button-toggle> -->

<!-- <app-example-icon></app-example-icon> -->

<!-- <app-example-badges></app-example-badges> -->

<!-- <app-example-progress-spinner></app-example-progress-spinner> -->

<!-- <app-example-progress-bar></app-example-progress-bar> -->

<!-- <app-example-navbar></app-example-navbar> -->

<!-- <app-example-sidenav></app-example-sidenav> -->

<app-example-menu></app-example-menu>