
div {
    padding: 1rem;
}

mat-sidenav-container {
    height: 100%;
    background-color: transparent;
}

mat-sidenav, mat-sidenav-content {
    padding: 16px;
}

mat-sidenav {
    background-color: transparent;
    width: 200px;
}

mat-sidenav ul, mat-sidenav li {
    list-style-type: none;
}

mat-sidenav ul li a {
    color: lightskyblue;
}

mat-sidenav ul li a:hover {
    font-weight: bold;
}

mat-sidenav ul li a:visited {
    color: lightpink;
}

mat-sidenav-content {
    background: linear-gradient(to bottom, gainsboro, whitesmoke);
}