<main>
    <article>
        <header>
            <h2> Card </h2>
        </header>

        <div class="with-padding">
            <mat-card> Basic Card </mat-card>
        </div>
        
        <div class="with-padding">
            <mat-card>
                <mat-card-header>
                    <mat-card-title> Title </mat-card-title>
                    <mat-card-subtitle> Subtitle </mat-card-subtitle>    
                </mat-card-header>
                
                <mat-card-content> 
                    This is the card content 
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-flat-button color="accent"> Login </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </article>
</main>



