<main>
    <article>
        <header>
            <h2> Badges </h2>
        </header>

        <div>
            <span matBadge="5"> Notifications </span>
        </div>
        <div>
            <span matBadge="5" matBadgePosition="below before"> Notifications </span>
        </div>
        <div>
            <span matBadge="5" matBadgePosition="below after"> Notifications </span>
        </div>
        <div>
            <span matBadge="5" matBadgePosition="above before"> Notifications </span>
        </div>
        <div>
            <span matBadge="5" matBadgeSize="small"> Notifications </span>
        </div>
        <div>
            <span matBadge="5" matBadgeSize="medium"> Notifications </span>
        </div>
        <div>
            <span matBadge="5" matBadgeSize="large"> Notifications </span>
        </div>
        <div>
            <span matBadge="5" matBadgeColor="primary"> Notifications </span>
        </div>
        <div>
            <span matBadge="5" matBadgeColor="accent"> Notifications </span>
        </div>
        <div>
            <span matBadge="5" matBadgeColor="warn"> Notifications </span>
        </div>
        <div>
            <span matBadge="5" matBadgeOverlap="false"> Notifications </span>
        </div>
        <div>
            <span [matBadge]="numberOfNotifications"> Notifications </span>
        </div>
        <div>
            <span [matBadge]="numberOfNotifications" [matBadgeHidden]="numberOfNotifications === 0">
                Notifications
            </span>
        </div>
    </article>
</main>