<main>
    <article>
        <header>
            <h2> Stepper </h2>
        </header>

        <!-- horizontal -->
        <mat-horizontal-stepper>
            <mat-step label="Shipping Address">
                <p> Shipping Address Details </p>
                <button mat-stroked-button matStepperNext> Next </button>
            </mat-step>
            <mat-step label="Billing Address">
                <p> Billing Address Details </p>
                <div>
                    <button mat-button matStepperPrevious> Back </button>
                    <button mat-stroked-button matStepperNext> Next </button>
                </div>
            </mat-step>
            <mat-step label="Place Order">
                <p> Place Order Details </p>
                <button mat-button matStepperPrevious> Back </button>
            </mat-step>
        </mat-horizontal-stepper>

        <!-- linear horizontal -->
        <mat-horizontal-stepper linear>
            <mat-step label="Shipping Address" completed="true">
                <p> Shipping Address Details </p>
                <button mat-stroked-button matStepperNext> Next </button>
            </mat-step>
            <mat-step label="Billing Address" completed="false" optional>
                <p> Billing Address Details </p>
                <div>
                    <button mat-button matStepperPrevious> Back </button>
                    <button mat-stroked-button matStepperNext> Next </button>
                </div>
            </mat-step>
            <mat-step label="Place Order" completed="false">
                <p> Place Order Details </p>
                <button mat-button matStepperPrevious> Back </button>
            </mat-step>
        </mat-horizontal-stepper>

        <!-- vertical -->
        <mat-vertical-stepper>
            <mat-step label="Shipping Address">
                <p> Shipping Address Details </p>
                <button mat-stroked-button matStepperNext> Next </button>
            </mat-step>
            <mat-step label="Billing Address">
                <p> Billing Address Details </p>
                <div>
                    <button mat-button matStepperPrevious> Back </button>
                    <button mat-stroked-button matStepperNext> Next </button>
                </div>
            </mat-step>
            <mat-step label="Place Order">
                <p> Place Order Details </p>
                <button mat-button matStepperPrevious> Back </button>
            </mat-step>
        </mat-vertical-stepper>
    </article>
</main>